setting.json
conversation_history.json
__pycache__
system_comands.json
node_modules
.vscode
.venv_ttsbackend/voices/*.onnx
backend/voices/*.bin
backend/voices/*.onnx
backend/voices/*.bin
.venv_tts/
__pycache__/
*.pyc
